[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name=Android Studio
Exec=/usr/share/android-studio/data/bin/studio.sh
Comment=Integrated Android developer tools for development and debugging.
Icon=androidstudio
Categories=GNOME;GTK;Development;IDE;
