Package: android-studio
Version: 4.8.2-ubuntu0
Architecture: all
Maintainer: Paolo Rotolo <paolorotolo@ubuntu.com>
Installed-Size: 108
Depends: default-jdk | oracle-java7-installer | oracle-java8-installer, unzip
Section: devel
Priority: optional
Description: Android Studio.
 Integrated Android developer tools for development and debugging.
