Source: android-studio
Section: devel
Priority: optional
Maintainer: Paolo Rotolo <paolorotolo@ubuntu.com>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.9.5


Package: android-studio
Architecture: all
Depends: ${misc:Depends}, default-jdk | oracle-java7-installer | oracle-java8-installer, libncurses5-dev:i386, libc6-i386, lib32stdc++6, lib32gcc1, lib32z1, lib32z1-dev, unzip
Description: Android Studio.
 Integrated Android developer tools for development and debugging.
