Source: android-studio
Maintainer: Paolo Rotolo <paolorotolo@ubuntu.com>
Section: devel
Priority: optional
Standards-Version: 3.9.5
Build-Depends: debhelper (>= 9)

Package: android-studio
Architecture: all
Suggest: default-jdk
Depends: ${misc:Depends}, java-sdk | oracle-java7-installer | oracle-java8-installer, unzip
Description: Android Studio.
 Integrated Android developer tools for development and debugging.
Homepage: https://developer.android.com/
